@charset "utf-8";
/* 公用样式 */
*{margin: 0;padding: 0;}
ul,ol,li{list-style: none}
a{text-decoration: none;color: #999; cursor: pointer;}
.clear:after{content:" ";display: block;clear: both;overflow:hidden;visibility:hidden;}
p{display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;}
body, button, input, select, textarea {
  font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
  -ms-overflow-style: scrollbar;
}
img, input {
  vertical-align: middle;
}
#content, body{background-color: #f5f5f5;}
em,i{font-style: italic;}
/* index-css */
.header-nav{width: 100%; background: #f2f2f2;}
.header-nav b{width: 0;height: 0;border-width: 3px;border-style: solid dashed dashed;border-color: #bbb transparent transparent;}
.nav-layout{width: 1230px;height: 32px;margin: 0 auto;line-height: 32px;position:relative;}
.wel{font-size: 12px;color: #999;}
.wel>a:nth-child(1){margin: 0 10px 0 20px}
.wel>a:nth-child(2){margin: 0 10px 0 0}
.top-nav-menu{position: absolute;top: 0;right: 0;}
.top-nav-menu li{float: left;font-size: 12px;color: #999;}
.top-nav-menu a{display: block;}
/* 我的淘宝 */
.mytaobao{position: relative;}
.my-taobao-menu>a{padding: 0 14px 0 10px; position: relative;}
.mytaobao b{position: absolute;right: 6px;top: 15px;}
.my-record{width: 74px; position: absolute;left: 0;top: 32px;padding: 8px 10px;z-index: 9923;background: #fff;}
.my-record>a{line-height: 20px;display: block;
}
/* 购物车 */
.nav-car{position: relative;padding: 0 10px;}
.nav-car i{position: absolute;}
/* 收藏夹 */
.my-favorite-menu{position:relative;}
.my-favorite-menu>a{display: block; padding:0 10px;position: relative}
.my-favorite-menu>a>b{position: absolute;right: 3px;top: 15px;}
.product-shop{width: 64px;position: absolute;padding: 8px 10px;left: 0;top: 32px;background: #fff;z-index: 9999;}
.product-shop>a{line-height: 20px;display: block;}
/* 分隔符 */
.separator{display:inline-block;height:14px;position: relative;top: 9px;left: 0; border-left: 1px solid #ccc;margin: 0 2px 0 5px}
/* 手机版 */
.tianmao-mobile{padding: 0px 10px; position: relative}
.qrcode{position: absolute;width: 175px;height: 227px;background: #fff;left: -62px;top: 26px;box-shadow: 0 0 5px #aaa;z-index: 9968;}
.qrcode-content{width: 175px;height: 175px;margin: 5px 0 0px;background: url(../images/index-image/shoujitianmao.jpg) 0 0 no-repeat;}
.qrcode>p{overflow: hidden;margin: 0 15px; height: 35px;background: url(../images/index-image/shoujitianmao2.jpg) center bottom no-repeat;}

.qrcode>b{width: 0;height: 0;line-height: 0;font-size: 0;position: absolute;left: 50%;top: -10px;margin-left: -2px;border-width: 5px;border-style: dashed dashed solid;border-color:transparent transparent #fff;font-weight: bold;}
/* 淘宝网 */
.taobao{padding: 0 10px;}
/* 商家支持 */
.business-support{height: 32px}
.business-menu{position: relative}
.business-menu>a{padding:0 14px 0 10px;position: relative;display: block;}
.business-menu>a b{position:absolute;right: 6px;top: 15px;}
.merchant-help{width: 122px; padding: 8px 10px;position: absolute;top: 32px; right: 0;border: 1px solid #ccc;z-index: 9986;background: #fff;}
.merchant-help>ul{width: 122px; overflow:hidden; margin-top: -5px}
.merchant-help li{display: block;float: none;padding: 5px 0;height:auto;line-height:1.4;border-bottom: 1px dotted #827777;margin-right: -20px;}
.merchant-help a{display: inline-block;width: 48px;margin-right: 20px;line-height: 22px;}
/* 网站导航 */
.site-map{padding: 0 14px 0 10px;position: relative;}
.site-map-menu{position: relative;z-index: 9999;}
.site-map-menu b{position: absolute;right: 6px;top: 15px}
.site-hot-map{width: 1198px;position: absolute;left: -1150px}
.site-hot-map>img{width: 100%;}

/* 搜索部分 */
.header{width: 100%;height: 130px;}
.headerLayout{width: 1230px;margin: 0 auto;}
.mallSearch{float: right;width: 625px;padding-top: 38px;overflow: hidden;}
.header-banner{float: right;padding: 2px 0 0 102.5px;height: 70px;width: 200px;}
.mall-searchForm{border-width: 2px 0 2px 2px;border-style: solid;border-color:#ff0036;position: relative;}
.mall-searchForm>input{height: 36px;width: 491px;font-size: 16px;line-height: 22px;box-sizing: border-box;border: none;color: #ccc;}
.mall-searchForm button{width: 132px;height: 36px;font-size: 18px;font-weight: 700;letter-spacing: 5px;position: absolute;right: 0;top: 0;z-index: 1;border: 0;cursor: pointer;color: #fff;background-color: #ff0036;overflow: hidden;}
/* 热门搜索推荐 */
.hot-query{height: 24px;font-size: 14px;padding: 4px 0 0;margin-left: -13px;overflow: hidden;width: 100%;}
.hot-query li{display: inline-block;border-left: 1px solid #ccc;line-height: 1.1;padding: 0 12px;font-size: 14px;}
.hot-query a{color: #999;cursor: pointer;}
.hot-query-highlight a{color: #ff0036;}

/* content部分 */
/* 主导航 */
#content{position: relative;color: #999;width: 100%;font-size: 12px;
font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;}
.main-nav{white-space: nowrap;position: relative;font-size: 0;padding-top: 0;height: 36px;
background: #fff;border-style: solid;border-width: 0 0 2px;border-color: #ff0036;width: 100%;}
.main-nav .inner-con0{height: 36px;line-height: 36px;width: 100%;position: absolute;bottom: 0;}
.main-nav .inner-con1{width: 1230px;margin: 0 auto;padding-right: 30px;}
.main-nav .inner-con1 .inner-con2{margin-left: 200px;width: 1030px;}
.main-nav a{height: 35px;cursor: pointer;float: left;padding: 0 8px;font-weight: 500;font-size: 16px;display: block;color: #333;letter-spacing: normal;position: relative;word-spacing: normal;}
.main-nav a img{width: 100px;height: 30px;margin-top: 3px;display: block;border: none;}
/* 分类 */
.category-con{position: relative;height: 500px;width: 100%; background: chartreuse}

/* activity-bg */
/* .activity-bg{margin: auto;width: 1230px;} */
.interact{overflow: hidden;}
.interact-con{margin: 30px auto 0;width: 1230px;padding-right: 30px;}
.module-body>img{display: block;margin: 0 auto 20px;width:600px;height: 40px;}
.module-body>a{float: left;display: block;width: 236px;margin-right: 10px;}
.module-body a img{width: 100%;border: 0;}
.area-con{margin: auto;padding-top: 10px;width: 1230px;padding-right: 30px;}

.brandWall-con{margin: auto;padding-top: 24px;width: 1230px;padding-right: 30px;}
.brandWall-item{width: 478px;float: left;display: block;height: 370px;margin-right: 13px;background-color: #fff;overflow: hidden;}
.contentWall .brandWall-item-first{width: 234px;}
.contentWall .brandWall-item-first .more{text-indent: -99px;}
.head{height: 54px;background: #fff;font-size: 0;border-style: solid;border-width: 0 0 1px;border-color: #eee;position: relative;}
.brandWall-con .module-body .head .cn{display: inline-block;font-size: 18px;font-weight: 700;color: #333;
line-height: 54px;height: 18px;margin-left: 10px;}
.module-body .head .en{display: inline-block;font-size: 14px;font-weight: 700;color: #333;margin-left: 10px;
line-height: 24px;height: 44px;}
.brandWall-con .module-body .more {
  position: absolute;right: 14px;top: 0;width: 42px;height: 54px;line-height: 54px;z-index: 99;background-size: 18px 18px;background-image: url(https://img.alicdn.com/tfs/TB1B7RoaMMPMeJjy1XcXXXpppXa-36-36.png);background-repeat: no-repeat;background-position: right center;padding-right: 14px;font-size: 16px;color: #666;overflow: hidden;
}
.module-body .body{display: block;height: 316px;}
.module-body .body img{height: 316px;width: 100%;}
/* 热门品牌 */
.new-hot-brand-con{margin: 15px auto 0;width: 1230px;padding-right: 30px;position:relative;}
.new-hot-brand-con .module-body{height: 327px;width: 100%;overflow: hidden;background: #fff;}
.new-hot-brand-con .module-body .brand-list{background-color: #f5f5f5;margin-right: -1px;width: 100%;height: 100%;float: right;position: relative;}
.new-hot-brand-con .module-body .brand-list .brand-item-body{margin-right: -2px;overflow: hidden;}
.new-hot-brand-con .module-body .brand-list .brand-item{width: 122px;height:108px;margin-right: 1px;margin-bottom: 1px;float: left;position:relative;}
.new-hot-brand-con .module-body .brand-item .brand-img{margin: 0 auto;display: block;text-align: center;line-height: 108px;background: #fff;}
.new-hot-brand-con .module-body .brand-item .brand-img img{width: 82%;height: 50px;}
.brand-mask {width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;background-color: rgba(0,0,0,.8);opacity: 0;transition: all 0.3s ease-out;}
.brand-mask:hover{opacity: 1;}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .coupon{color: #fff;text-align: center;line-height: 90px;height: 60px;}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .coupon span{display: block;padding: 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .enter{
text-align: center;height: 32px;}
.new-hot-brand-con .module-body .brand-list .brand-item .brand-mask .enter span{display: inline-block;color: #fff;
width: 63px;height: 18px;font-size: 12px;line-height: 15px;background: #ff0036;border-radius: 9px;}
/* 换一批 */
.new-hot-brand-con .module-body .brand-list .refresh-btn{width: 122px;height: 108px;display: block;color: #999;background-color: #fff;position: absolute;bottom: 1px;right: 1px;overflow: hidden;transition: all .3s ease-out;z-index: 500;}
.new-hot-brand-con .module-body .brand-list .refresh-btn:hover{color: #fff;background-color: #ff0036;}
.new-hot-brand-con .module-body .brand-list .refresh-btn .btn-text{display: block;font-size: 14px;line-height: 136px;text-align: center;}
/* 品牌楼层 */
.new-floor-con{margin: 20px auto 0;width: 1230px;padding-right: 30px;}
/* 天猫超市 */
.floor-line-con{margin-top: 20px;width: 100%;height: 665px;position: relative;}
.floor-name{display: inline-block;vertical-align: middle;font-size: 18px;color: #000;height: 28px;}
.floor-name img{vertical-align: middle;width: 214px;height: 25px;}
.line-body{width: 100%;height: 618px;margin-top: 10px;overflow: hidden;}
.big-banner-con-2{float: left;position: relative;width: 235px;height: 618px;}
.big-banner-con-2 img{width: 100%;display: block;height: 618px;}
.banner-detail{position: absolute;vertical-align: middle;bottom: 20%;width: 218px;height: 64px;}
.banner-detail .left-title-wrap{background: rgba(0,0,0,.9); width: 70px;height: 64px;overflow: hidden;color: #fff;text-align: center;display: table-cell;vertical-align: middle;}
.left-title-wrap .left-title{display: inline-block;vertical-align: middle;line-height: 24px;font-size: 18px;width: 36px;overflow: hidden;}
.banner-detail .right-title-wrap{position: absolute; left: 70px;top: 0;background: rgba(0,0,0,.6);overflow: hidden;width: 128px;height: 64px;color: #fff;vertical-align: middle;}
.banner-detail .right-title-wrap .right-title-absolute{margin:8px 0 0 14px;}
.right-title-absolute .right-title{display: block;line-height: 24px;font-size: 18px;}
.big-banner-con-2 .detail-wrap{background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);width: 100%;height: 60px;position: absolute;bottom: 0;left: 0;} 
.big-banner-con-2 .detail-wrap .floor-arrow-big{position: absolute;bottom: 15px;right: 15px;width: 32px;height: 32px;}
/* 天猫超市-选项卡 */
.middle-column-con{width: 995px;height: 618px;float: left;overflow: hidden;}
.middle-column-con .grid.two-grid{width: 484px;height: 301px;margin-left: 13px;}
.middle-column-con .grid{float: left;display: block;border-bottom: 15px solid #f5f5f5;position: relative;background-color: #fff;}
.middle-column-con .grid.two-grid .floor-tabs{width: 462px;height: 282px;margin: 10px;box-shadow: 0 2px 8px 0 rgba(0,0,0,.09);}
.middle-column-con .grid.two-grid .floor-tab-head{overflow: hidden;background: #f1f1f1;}
.middle-column-con .grid.two-grid .floor-tab-head .floor-current-tab{background: #00B262;color: #fff;}
.middle-column-con .grid.two-grid .floor-tab-head li{float: left;color: #000;height: 57px;width: 191px;cursor: pointer;line-height: 30px;padding: 0 20px;text-align: center;vertical-align: middle;}
.middle-column-con .grid.two-grid .floor-tab-head li .tab-title{margin-top: 16px;font-size: 18px;line-height: 20px;}
.middle-column-con .grid.two-grid .floor-tab-detail{height: 225px;width: 462px;}
.middle-column-con .grid.two-grid .right-detail-a{height: 225px;width: 462px;display: block;}
.middle-column-con .grid.two-grid .right-detail-a .right-detail{position: absolute;top: 153px;height: 87px;width: 291px;background-repeat: no-repeat;background-position: 0 center;background-color: rgba(0,0,0,0);background-image: url(https://img.alicdn.com/tfs/TB1AnTXewMPMeJjy1XcXXXpppXa-290-87.png);z-index: 99;}
.middle-column-con .grid.two-grid .right-detail-a .right-detail .title-wrap{margin-left: 26px;margin-top: 8px;vertical-align: middle!important;}
.middle-column-con .grid.two-grid .right-detail-a .right-detail .title-wrap .cla-icon{width: 23px;height: 23px;margin-top: -10px;}
.middle-column-con .grid.two-grid .right-detail-a .right-detail .title-wrap .tab-item-title{margin-left: 8px;font-size: 24px;font-weight:700;letter-spacing: 1px; color: #00B262; }
.middle-column-con .grid.two-grid .right-detail-a .right-detail .tab-desp{margin-left:26px;font-size: 20px;letter-spacing: 1px; color: #000;}
.middle-column-con .grid.two-grid .right-detail-a .item-img{float: right;margin-top: 10px;margin-right: 30px;width: 200px;height: 200px;z-index: 1;}
/* data.js */
.new-floor-con .floor-line-con .line-body .grid.one-grid-price {
  width: 235px;
  height: 301px;
  margin-left: 13px;
  text-align: center;}
  .new-floor-con .floor-line-con .line-body .floor-item-content-wrap {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
}
.new-floor-con .floor-line-con .floor-item-tag {
  width: 68px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  margin: 0 auto;
}
.new-floor-con .floor-line-con .line-body .grid.one-grid-price img {
  width: 185px;
  height: 185px;
}
.new-floor-con .floor-line-con .floor-item-title {
  width: 135px;
  height: 40px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  overflow: hidden;
  margin: 8px auto;
}
.new-floor-con .floor-line-con .floor-price {
  font-size: 18px;
  color: #FF0036;
  line-height: 18px;
  margin: 10px auto;
}
.new-floor-con .floor-line-con .line-body .floor-item-content-wrap:hover{
  border: 1px solid #ff0036;
  opacity:0.8;
}
/* 天猫国际 */
.line-body .big-banner-con-1-1{float: left;position: relative;width: 235px;height: 618px;}
.line-body .big-banner-con-1-1 .full-grid{width: 235px;height: 301px;float: left;display: block;border-bottom: 15px solid #f5f5f5;position: relative;background: #fff;}
.new-floor-con .floor-line-con .line-body .grid.one-grid {width: 235px;height: 301px;margin-left: 13px;}
.new-floor-con .floor-line-con .line-body .grid {float: left;display: block;border-bottom: 15px solid #f5f5f5;position: relative;background-color: #fff;}
.line-body .floor-item-content-wrap{width: 234px;height: 300px;border: 1px solid #fff;}
.line-body .grid .title{position: absolute;top: 20px;left: 25px;width: 220px;font-size: 18px;
z-index: 10;line-height: 24px;height: 24px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #000;}
.line-body .grid .sub-title {position: absolute;top: 49px;left: 25px;width: 220px;font-size: 14px;z-index: 10;line-height: 18px;height: 18px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #7a45e5;}
.line-body .grid.one-grid img {width: 170px;height: 170px;margin: 90px 33px 42px 32px;}
.full-banner{width: 1230px;height: 90px;overflow: hidden;display: block;margin: 10px auto;position: relative;}
.full-banner img{display: block;width: 1620px;height: 90px;margin-left: -165px;}
/* 美丽人生 */
.new-floor-con .floor-line-con .color-mark{display: inline-block;background: #333;width: 5px;height: 18px;vertical-align: middle;}
.new-floor-con .floor-line-con .floor-name .floor-title{margin-left: 10px;margin-right: 10px;vertical-align: middle;}
.new-floor-con .floor-line-con .floor-sub-name{display: inline-block;font-size: 14px;color: #000;margin-left: 10px;line-height: 24px;height: 18px;}
/* 猜你喜欢 */
.wonderful-con.floor-line-con{padding-right: 30px;width: 1230px;margin: 30px auto 0;}
.wonderful-title{color: #666;text-align: center;height: 43px;font-weight: 100;}
.wonderful-title>.text-ctn{position: relative;font-size: 18px;line-height: 20px;font-family:'Microsoft YaHei',SimSun,sans-serif,'\65b9\6b63\5170\4ead\9ed1';}
.wonderful-item{float: left;width: 234px;height:326px;margin-right: 12px;margin-bottom: 7px;}
.wonderful-con .card-item{display: block;border: 2px solid #fff;position: relative;background: #fff;overflow: hidden;margin-right: 7px;margin-bottom: 7px;width: 100%;height: 315px;}
.wonderful-con .card-item .item-pic{display: block;width: 185px;height: 185px;overflow: hidden;margin: 20px auto 0;}
.wonderful-con .card-item .item-pic img{display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.wonderful-con .card-item .item-info {
  display: block;
  padding: 14px 12px 8px;
  text-align: center;
}
.wonderful-con .card-item .item-desc {
  margin: 8px auto;
  display: block;
  width: 135px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
.wonderful-con .card-item .item-name {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
.wonderful-con .card-item .item-detail {
  position: relative;
  display: block;
  height: 33px;
  line-height: 22px;
  margin-top: 2px;
}
.wonderful-con .card-item .item-price {
  line-height: 32px;
  color: #ff0036;
  font-size: 18px;
}
.wonderful-con .tm-end {
  display: block;
  background: url(https://img.alicdn.com/tps/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png) no-repeat;
  position: relative;
  content: '\20';
  text-align: center;
  width: 80px;
  height: 45px;
  margin: 0 auto 10px;
  background-size: cover;
  z-index: 9;
}

/* banner轮播图 */
#main-banner{width: 100%;height: 500px;overflow: hidden;}
#main-banner .banner-wrapper{height:500px;;overflow: hidden;position: relative; }
#main-banner ul li{width: 100%;height:500px; position: absolute;top: 0;left: 0;}
#main-banner ul li a{width: 1230px;height: 500px;display: block;margin: 0 auto;z-index: 1;}
#main-banner ul li a img{width: 1230px;height: 500px;display: block;border: none;}
ol {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  width: 300px;
}

ol li {
  float: left;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  background-color: #abc;
}
.banner-current{background: red;}



/* 天猫 footer */
#footer{width: 100%;margin-bottom: 0;padding-bottom: 0;min-height: 558px;border-top: 1px solid #D1D7DC;text-align: center;background: #fff;position: relative;font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
/* 品质保障 */
#tmall-ensure{width: 1190px;height: 100px;background: url(../images/index-image/footer-load1.jpg) no-repeat;margin: 25px auto;padding:0;text-align:center;}
#tmall-ensure a{float: left;display: block;width: 297px;height: 100px;text-indent: -10001em;cursor: pointer;}
/* 购物指南 */
#tmall-desc{width:1190px;padding-top: 22px;height: 190px;margin: auto;border-top: 1px solid #ededed;background: url(../images/index-image/footer-xiaoheimao.png)45px bottom no-repeat;background-size: 68px 25px;}
#tmall-desc dl{float: left;width: 186px;padding-left: 52px;}
#tmall-desc dl dt{color: #646464;font-size: 16px;font-weight: 700;height: 30px;line-height: 30px;text-align: left;}
#tmall-desc dl dd{text-align: left;}
#tmall-desc dl a{width:100px;overflow: hidden;text-align:left;height: 20px;line-height: 20px;color: #8b8b8b;display:block;cursor: pointer;font-size: 12px}
#tmall-desc #mobile a{width: 105px;height: 105px;line-height: 105px;text-align: center;}
#tmall-desc #mobile img{border: none;width: 105px;height: 105px;}
/* Copy-Right */
#tmall-copyright{border-top: 2px solid #ff0036;background: #000;text-align: left;min-height: 177px;}
#tmall-copyright .footer-tmall-info{width: 1190px;margin: 0 auto;color: #fff;line-height: 25px;}
#footer p{padding: 5px 0;}
#footer p a{margin-right: 3px;color: #fff;font-size: 12px;}
#tmall-copyright .footer-otherlink{width: 1190px;margin: 0 auto;color: #fff;line-height: 25px;font-size: 12px;}
/* footer-copyright */
.footer-copyright{width: 1190px;margin: 0 auto;line-height: 20px;background: #000;color:#a4a4a4;}
.footer-copyright b{display: block;color:#686868;font-weight: 100;}
#footer .footer-copyright .footer-fp-img{display: block;padding-top: 10px;margin: 0;padding-bottom: 5px;}


/* 天猫浮动搜索栏 */
#totalContainer{width: 100%;position: fixed;top: -50px;height: 50px;z-index: 10000;background: #ff0036;opacity:1;margin: 0 auto;transition: top .5s ease-out;box-shadow:0 0 4px #eaeaea;}
#Search-container{width: 1230px;padding-right: 30px;position: relative;height: 50px;margin: 0 auto;overflow: hidden;}
.iconfont-logo{float:left;width: 160px;margin-top: 12px;position: absolute;top: 0;left: 0;z-index: 20;line-height: 30px;color: #fff;font-size: 24px;}
#tmall-search{float: none;padding-top: 12px;width: 740px;position: relative;z-index: 10;height: 30px;margin: 0 auto;}
form{border: none!important;}
.tmall-search-input{float: left;position: relative;height: 30px;vertical-align: middle;}
.tmall-search-input input{width: 640px;color: #000;height: 20px;line-height: 20px;padding: 5px 3px 5px 5px;border: none;font-size: 900;box-sizing: content-box;}
#tmall-search button{float: left;width: 90px;border: 0;font-size: 16px;letter-spacing: 4px;cursor:pointer;color: #fff;background: #ff0036;font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";}

/* 楼层电梯导航 */
.floor-nav-wrapper{width: 35px;text-align: center;position: fixed;bottom: 50px;left:50%;z-index: 10000;margin-left: -673px!important;}
.floor-lift-item{width: 36px;height: 36px;line-height: 36px;text-align: center;color: #fff;cursor: pointer;margin-top: 1px;overflow: hidden;font-size: 12px;background: rgba(0,0,0,.6);display: block;}
.floor-lift-item .floor-lift-item-name{line-height: 12px;width: 24px;height: 28px;margin: 6px auto;}
.floor-nav-wrapper .floor-lift-header{background: #ff0036;}
.floor-nav-wrapper .color-type-green1.mui-lift-nav,
.floor-nav-wrapper .color-type-green1:hover{background: #64C333;}
.floor-nav-wrapper .color-type-purple.mui-lift-nav,
.floor-nav-wrapper .color-type-purple:hover{background: #000;}
.floor-nav-wrapper .color-type-cyan.mui-lift-nav,
.floor-nav-wrapper .color-type-cyan:hover{background: #19C8A9;}
.floor-nav-wrapper .color-type-blue.mui-lift-nav,
.floor-nav-wrapper .color-type-blue:hover{background: #0AA6E8;}
.floor-nav-wrapper .color-type-pink.mui-lift-nav,
.floor-nav-wrapper .color-type-pink:hover{background: #EA5F8D;}
.floor-nav-wrapper .color-type-green2.mui-lift-nav,
.floor-nav-wrapper .color-type-green2:hover{background: #64C333;}
.floor-nav-wrapper .color-type-red.mui-lift-nav,
.floor-nav-wrapper .color-type-red:hover{background:  #F15453;}
.floor-nav-wrapper .color-type-wonderful.mui-lift-nav,
.floor-nav-wrapper .color-type-wonderful:hover{background: #ff0036;}
/* 天猫侧边栏 */
.mall-sidebar-outer,.mall-sidebar-body{position: fixed;z-index: 99999;top: 0;}
.mall-sidebar-outer{width: 0;overflow: visible;right: 0;bottom: 0;}
.mall-sidebar-body{width: 270px;color: #fff;}
.mall-sidebar-nav{position: absolute;top: 0;left: 0;width: 35px;background: #000;}
.mall-sidebar-con{position: absolute;top: 0;left: 35px;background: #666;width: 280px;}